
<div style="background-color:mediumturquoise">
    <label for="taskname">Your Task:</label>
    <input type="text" id="taskname" @bind="@taskvalue" />
</div>


@code {

    private string taskvalue = String.Empty;

}
